body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

body{
    font-family:"Montserrat";
    background-color: white;
    margin:0px;
    margin-top:56px;
}

.navbar-brand{
    font-size:40px;
    color:white;
    font-weight: normal;
    margin-left:10px;
}

.navbar-brand:hover{
    color:lightblue;
}

.navbar{
    background-color: black;
    color:red;
    position: fixed;
    width:100%;
    height:15%;
    top:0;
    z-index:1000;
    margin-left:0px; 
    border:1px solid white;
    border-top:3px solid white;
    border-radius: 10px;
}

.conatinerfluid{
    padding-top:56px;
}



.navbar-toggler{
    background-color: white;
    margin-right:10px;
}

.navbar-toggler:hover{
    background-color: lightblue;
}

.navbar-toggler:active{
    background-color:rgb(124, 206, 234)
}

.nav-item {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 5px 10px;
    cursor: pointer;
}


.nav-item:hover {
    color: #f0a500;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #f0a500; 
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-item:hover::after {
    width: 100%;
    left: 0;
}

@media screen and (max-width:767px ) {
    .navbar{
        height:auto ;
    }
}
