
.homenav{
    border-radius:10px;
    background-color:red;
    padding:4px;
}
.homenav button{
    color:white;
    transition:0.5s;
}
.homenav button:hover{
    color:blue;
    transition:0.5s;
}

.homenav input{
    border-radius:10px;
    border:2px solid black;

}

.imgslide img{
    background-color: black;
    object-fit: contain;
    width: 65%;
    height:40vh;
    margin-top:20px;
    border-radius: 10px;
}