<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shoppy</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="../static/styles/loginpage.css" rel="stylesheet">
    </head>
<body>
    <div class="container-fluid logcont">
        <div class="row justify-content-center" style="height: 100vh;">
            <div class="col-md-6 bg-black innerlog d-flex justify-content-center align-items-center">
                <div class="container-fluid">
                    <div class=row>
                        <center>
                            <h1 class="display-1 display-sm-2 display-md-3 display-lg-4 display-xl-5" style="color:white;">SHOPPY</h1>
                        </center>
                        <img src="../static/images/logoupscaled.png">
                        <center>
                            <p class="fs-4 fs-sm-5 fs-md-6 fs-lg-7 fs-xl-8" style="color:red"> "The only thing we dont ship is your regret 😉"</p>
                        </center>
                    </div>
                </div>
            </div>
            <div class="col-md-6 innerlog d-flex justify-content-center align-items-center" style="background-color: white;">
                <div class="login-block justify-content-center d-block mx-auto">
                    <h1 class="text-center p-3">LOGIN</h1>
                    <form method="POST" action="{{ url_for('login') }}" autocomplete="off">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <label for="username" id="userlabel">Username</label>
                            {{ form.username(class="form-control", id="username") }}
                        </div>
                        <div class="form-group">
                            <label for="password" id="passlabel">Password</label>
                            {{ form.password(class="form-control", id="password", type="password") }}
                        </div>
                        <button class="mt-4 ms-3 ps-3 pe-3 mb-3 btn btn-primary" type="submit">Confirm</button>
                        <p class="text-center">Don't have an account?</p>
                        <a href="#" class="text-center d-block mx-auto">Sign Up</a>
                        <button class="text-center d-block mx-auto mt-2 p-2 btn btn-primary">Forgot password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    username = document.getElementById('userlabel');
    password = document.getElementById('passlabel');

    document.getElementById('username').addEventListener('focus', () => {
        username.style.color = "black";
    })

    document.getElementById('username').addEventListener('blur', () => {
        username.style.color = "rosybrown"
    });

    document.getElementById('password').addEventListener('focus', () => {
        password.style.color = "black";
    })

    document.getElementById('password').addEventListener('blur', () => {
        password.style.color = "rosybrown"
    });
</script>
</html>
